* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body.dark {
  background: #121212;
}

.container {
  width: 100%;
  max-width: 350px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#modeToggle {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.calculator {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

body.dark .calculator {
  background: #1e1e1e;
  color: white;
}

#result {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background: #f0f0f0;
}

body.dark #result {
  background: #333;
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 45px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #e0e0e0;
  transition: 0.2s;
}

button:hover {
  background: #bdbdbd;
}

body.dark button {
  background: #444;
  color: white;
}

body.dark button:hover {
  background: #666;
}

@media(max-width: 400px) {
  .container {
    padding: 10px;
  }
}
