body {
    background: #e0e0e0;
    font-family: Arial;
}

.calculator {
    background: white;
    width: 250px;
    margin: 60px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

#result {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
}

.buttons button {
    width: 50px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
